*.pyc
*.idea
.vscode/*
_archiv/*
.DS_store
*.ipa
*.log
*.zip
*.ipynb
studies/*
!studies/example_study
studies/example_study/results/*
results/*
scenarios/*
data/demand/*
data/fleetctrl/*
data/infra/*
data/networks/*
data/pubtrans/*
data/vehicles/*
data/zones/*
data/networks/EasyRideLine196_Example/downloaded_map.tif
!data/zones/ERLine196_Example
!data/demand/example_demand_196
!data/networks/EasyRideLine196_Example
!data/vehicles/default_vehtype.csv
study_evaluation/*
src/routing/cpp_router/*.pyd
src/routing/cpp_router/build/*
src/routing/cpp_router/PyNetwork.cpp
src/routing/extractors/cache/*
last_egrep_code_results.txt
bugfix_or_run.py
run_private*.py

# system dependent C++ Router files
dev/routing/contraction_hierarchies_router/*.pyd
dev/routing/contraction_hierarchies_router/build/*
dev/routing/contraction_hierarchies_router/PyNetwork.cpp
dev/routing/customizable_contraction_hierarchies_router/*.pyd
dev/routing/customizable_contraction_hierarchies_router/build/*
dev/routing/customizable_contraction_hierarchies_router/PyNetwork.cpp
dev/routing/extractors/cache/*